<div class="container">
    <h2 class="mb-4">Khám phá chiến dịch</h2>
    <div class="mt-2 mb-4">
        
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="input-group">
                            <input id="name" class="form-control"
                                placeholder="Nhập từ khóa" name="name_"
                                type="text" value="">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary">
                                    Search
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        
    </div>
    <app-list-campaign></app-list-campaign>
</div>