<section class="my-2 container">
    <h1 class="mb-4">Tạo chiến dịch mới</h1>
    <form [formGroup]="campaign" (ngSubmit)="onSubmit()"
        enctype="multipart/form-data">
        <div class="alert alert-danger" id="error-box" hidden>
            <ul class="list-unstyled mb-0">
            </ul>
        </div>
        <div class="row">
            <div class="col-md-8 order-2 order-md-1">
                <div class="embed-responsive embed-responsive-16by9
                    image-file-com">
                    <div class="close">
                    </div>
                    <div class="embed-responsive-item d-flex
                        justify-content-center align-items-center text-center">
                        <label for="campaign-cover">
                            <i class="zmdi zmdi-camera zmdi-hc-3x"></i>
                            <div>Ảnh đại diện <br>850 x 480 pixel</div>
                        </label> <input accept="image/*" hidden
                            id="campaign-cover" name="coverImage" type="file">
                    </div>
                </div>
                <div class="form-group mt-4">
                    <h5>Nội dung chiến dịch*</h5>
                    <textarea id="campaignContent" required
                        class="form-control" placeholder="Nhập nội dung chiến
                        dịch" rows="5"
                        maxlength="1000" formControlName="campaignContent"
                        cols="50">
                    </textarea>
                </div>
                <div class="d-flex justify-content-between mt-4">
                    <div class="publish-wrap">
                        <button type="submit" class="btn btn-primary">Lưu chiến
                            dịch</button>
                    </div>
                    <button type="button" class="btn btn-danger">Hủy bỏ</button>
                </div>
            </div>
            <div class="col-md-4 order-1 order-md-2">
                <input type="hidden" name="ownerID" value="" />
                <div class="form-group">
                    <label for="campaigName">Tên chiến dịch*</label>
                    <input id="campaignName" required class="form-control"
                        placeholder="Tên chiến dịch" maxlength="255"
                        formControlName="campaignName"
                        type="text">
                </div>
                <div class="form-group">
                    <label for="campaign-description">Mô tả ngắn*</label>
                    <textarea id="campaign-description" required
                        class="form-control" placeholder="Mô tả ngắn" rows="3"
                        maxlength="255" formControlName="shortDescription"
                        cols="50"></textarea>
                </div>

                <div class="form-group">
                    <label for="campaign-money">Số tiền mong muốn*</label>
                    <div class="input-group">
                        <input id="campaign-money" required class="form-control"
                            placeholder="Số tiền mong muốn" maxlength="15"
                            formControlName="goal" type="number">
                        <div class="input-group-append">
                            <span class="input-group-text">VNĐ</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="campaign-deadline">Ngày hết hạn*</label>
                    <div class="input-group single-date">
                        <input id="campaign-deadline" required
                            class="form-control" placeholder="Ngày hết hạn"
                            maxlength="255" formControlName="expiredDate"
                            type="date">
                    </div>
                </div>

                <div class="form-group mt-5">
                    <div class="row no-gutters">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="select-organization">Nhập tổ chức</label>
                                <input id="campaigName" required
                                    class="form-control"
                                    placeholder="Nhập tên tổ chức"
                                    maxlength="255"
                                    formControlName="groupName"
                                    type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
