<div class="container">
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" routerlink="/">
            <img src="../../assets/vdflogo.png" alt="VDF" width="60" height="30" class="d-inline-block align-top" alt="VDF" loading="lazy">
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="#">Các chiến dịch</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tin tức</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Về chúng tôi</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login" routerLinkActive="active" >Tạo Tài Khoản</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/signup" routerLinkActive="active">Đăng nhập</a>
                </li>
            </ul>

        </div>
    </nav>
</div>