<div class="container">
    <section id="campaign-top-header">
        <div class="row">
            <div class="col-lg-10">
                <div class="media">
                    <div class="media-body">
                        <h1 class="mt-0 font-weight-normal">Thương Về Miền Trung</h1>
                        <p class="mb-1 text-secondary">Những ngày qua, thiệt hại
                            do những cơn mưa lũ liên tiếp gây ra đối với bà con
                            Miền Trung khiến cả nước xót xa. Tính đến tối 19/10,
                            mưa lũ đã làm trên 122 người chết và mất tích, gần
                            600 ngôi nhà bị sập đổ, cuốn trôi; ảnh hưởng trên
                            135.000 hộ dân.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="my-4">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">Nội dung</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Cập nhật</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Danh sách ủng hộ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                    href="">Bình luận</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Chủ chiến dịch</a>
            </li>
        </ul>
    </div>
    <article>
        <div class="row">
            <div class="col-lg-8">
                <div class="embed-responsive embed-responsive-16by9
                    campaign-style1 no-shadow mb-3 mb-md-0">
                    <img class="embed-responsive-item"
                        src="../../assets/mientrung.jpg"> </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex flex-column align-items-start bg-light p-3
                    h-100">
                    <div class="w-100">
                        <div class="campagin-progress">
                            <div class="d-flex justify-content-between
                                align-items-end">
                                <h4 class="text-primary mb-0 h3">100,000 đ
                                    <small>0%</small></h4>
                                <span>40,000,000 đ vnđ</span>
                            </div>
                            <div class="progress my-2">
                                <div class="progress-bar"
                                    role="progressbar"
                                    aria-valuenow="0" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                            <div class="d-flex justify-content-between
                                align-items-end">
                                <div class="user-count">
                                    <strong>1</strong> người ủng hộ
                                </div>
                                <div class="user-count">
                                    Còn lại 73 ngày
                                </div>
                            </div>
                        </div>
                        <div class="my-4">
                            <a href="{% url 'donate'%}" class="btn btn-danger
                                btn-lg btn-block">Ủng hộ ngay</a>
                            <div class="divider"></div>
                            <a
                                href=""
                                class="btn btn-default btn-lg bg-white btn-block
                                mt-3">Chia sẻ ngay</a>

                        </div>
                    </div>
                    <div class="mb-2">
                        <div class="small">
                            <div class="hints">Tips: Bạn có biết, mỗi lượt chia
                                sẻ của bạn có thể mang lại 2 lượt ủng hộ từ bạn
                                bè.</div>
                            <a
                                href="https://www.facebook.com/sharer/sharer.php?u=https://hnag.herokuapp.com"
                                class="text-info mt-1">
                                <i class="zmdi zmdi-facebook mr-1"></i> Chia sẻ
                                ngay
                            </a>
                        </div>
                    </div>
                    <div class="mt-auto w-100">
                        <div class="small text-secondary mb-1">
                            ĐƠN VỊ TỔ CHỨC
                        </div>
                        <div class="media align-items-center">
                            <img width="50" class="mr-2 avatar"
                                src="https://kindmate.net/Uploads/2020/05/25/5ecbc6469c176-logo-vnsound-music--white-.jpg"
                                alt="https://kindmate.net/Uploads/2020/05/25/5ecbc9ad72073-logo-vnsound-music--white-.jpg">
                            <div class="media-body">
                                <p class="dotdotdot mb-0">16PFIEV3</p>
                                <div class="campaign-summary">
                                    <a class="small" rel="nofollow"
                                        data-toggle="modal"
                                        data-target="#exampleModal"
                                        style="color: #654AD2; cursor: pointer">Xem
                                        thông tin</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="mt-auto w-100">
                        <div class="small text-secondary mb-1">
                            CHỦ CHIẾN DỊCH
                        </div>
                        <div class="media align-items-center">
                            <img width="50" class="mr-2 avatar"
                                src="https://kindmate.net/Uploads/2020/05/25/5ecbc9ad72073-logo-vnsound-music--white-.jpg"
                                alt="vnsoundmusic">
                            <div class="media-body">
                                <p class="dotdotdot mb-0">16PFIEV3</p>
                                <div class="campaign-summary">
                                    <a href="#" class="small" rel="nofollow">Xem
                                        thông tin</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="exampleModal" tabindex="-1"
                        role="dialog" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title"
                                        id="exampleModalLabel">Thông tin tổ chức</h5>
                                    <button type="button" class="close"
                                        data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row no-gutters"
                                        id="organization">
                                        <div class="col-md-4 offset-4 mb-5">
                                            <div class="embed-responsive
                                                embed-responsive-1by1
                                                image-file-com mt-2">
                                                <div class="close">
                                                    &times;
                                                </div>
                                                <div
                                                    class="embed-responsive-item
                                                    d-flex
                                                    justify-content-center
                                                    align-items-center
                                                    text-center"></div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="campaign-org-name"
                                                    class="col-md-3">Tên tổ
                                                    chức:</label>
                                                <span class="col-md-9">16PFIEV3</span>
                                            </div>
                                            <div class="form-group">
                                                <label for="campaign-org-name"
                                                    class="col-md-3">Tên viết
                                                    tắt:</label>
                                                <span class="col-md-9">16PFIEV3</span>
                                            </div>
                                            <div class="form-group">
                                                <label for="campaign-org-name"
                                                    class="col-md-3">Email:</label>
                                                <span class="col-md-9">16pfiev3@gmail.com</span>
                                            </div>

                                            <div class="form-group">
                                                <label for="campaign-org-link"
                                                    class="col-md-3">Số điện
                                                    thoại:</label>
                                                <span class="col-md-9">099669696</span>
                                            </div>
                                            <div class="form-group">
                                                <label for="campaign-org-name"
                                                    class="col-md-3">Địa chỉ:</label>
                                                <span class="col-md-9">54 Nguyễn
                                                    Lương Bằng</span>
                                            </div>
                                            <div class="form-group d-flex">
                                                <label for="campaign-org-link"
                                                    class="col-md-3">link
                                                    facebook:</label><br>
                                                <a class="col-md-9"
                                                    href="#">
                                                </a>
                                            </div>
                                            <div class="form-group d-flex">
                                                <label
                                                    for="campaign-description"
                                                    class="col-md-3">Mô tả ngắn</label>
                                                <p class="col-md-9">
                                                    Program de formation
                                                    d'ingenieurs d'excellence au
                                                    Vietnam
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn
                                        btn-secondary" data-dismiss="modal">Đóng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <div class="row mt-4">
        <div class="col-lg-8">
            <div class="campaign-content mt-2 pt-1 border-top">
                <div id="campaign-content">
                    <h3 class="my-3 font-weight-bold h3">Nội dung chiến dịch</h3>
                    <p><span style="color: rgb(28, 30, 33);">
                            Những ngày qua, thiệt hại do những cơn mưa lũ liên
                            tiếp gây ra đối với bà con Miền Trung khiến cả nước
                            xót xa. Tính đến tối 19/10, mưa lũ đã làm trên 122
                            người chết và mất tích, gần 600 ngôi nhà bị sập đổ,
                            cuốn trôi; ảnh hưởng trên 135.000 hộ dân tại trên
                            200 xã, phường của các tỉnh, thành phố, đặc biệt tại
                            Thừa Thiên Huế, Quảng Bình, Quảng Trị, Quảng Nam và
                            Đà Nẵng.

                            Nhiều công trình cơ sở hạ tầng giao thông, thuỷ lợi
                            bị sạt lở, vùi lấp; hàng chục nghìn ha diện tích
                            nông nghiệp bị ngập lụt; bao gia đình lâm vào cảnh
                            tang thương, nhiều người bị mất tích, thiệt mạng
                            thậm chí nhiều cán bộ chiến sĩ đã anh dũng hy sinh
                            trong công tác cứu hộ, cứu nạn. Hướng về miền Trung
                            ruột thịt,

                            Chúng tôi kêu gọi sự ủng hộ của quý đọc giả nhằm
                            đồng hành, chia sẻ khó khăn, khắc phục các thiệt hại
                            do lũ lụt cùng đồng bào Miền Trung với tinh thần
                            “tương thân tương ái”, “lá lành đùm lá rách”.



                            Trước tình hình đó, người dân trên mọi miền đất nước
                            đều đồng lòng hướng về miền Trung ruột thịt. Ai có
                            gì góp nấy, những lời kêu gọi quyên góp tiền, lương
                            thực, thực phẩm,... đều được người dân đồng lòng ủng
                            hộ.
                        </span></p>
                </div>

                <div class="mt-3 text-center toggle-content">
                    <button class="btn btn-default border bg-white"
                        id="toggle-campaign-content" data-expandText="Hiển thị
                        ít hơn" data-collapseText="Hiển thị đầy đủ">Hiển thị đầy
                        đủ</button>
                </div>
            </div>
            <div class="donate-content mt-4">
                <h3 class="mb-3">1 người ủng hộ</h3>
                <div class="my-3">
                    <table class="table table-block">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="media">
                                        <img
                                            src="https://kindmate.net/svg/payment.svg"
                                            alt="kindmate-payment-type"> <div
                                            class="media-body ml-3">
                                            <h6 class="mb-1">Đào Việt Hoàng</h6>
                                            <p class="mb-1">Đào Việt Hoàng ủng
                                                hộ
                                                chiến dịch</p> <p class="small
                                                text-secondary mb-0">
                                                KM011891 - Cổng thanh toán - 3
                                                ngày trước
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <strong class="text-primary white-space">100,000
                                        VNĐ</strong>
                                </td>
                            </tr>
                        </tbody>
                    </table> <div class="mt-3 text-center">
                        <a href="#" class="btn btn-default border bg-white">Xem
                            tất cả</a>
                    </div>
                </div>
            </div>
            <div class="donate-content mt-4 border-top pt-4">
                <h3 class="mb-3">Cập nhật <span class="badge badge-danger">0</span></h3>
                <div class="k-news">
                    <p class="text-secondary">
                        Không có cập nhật nào từ chiến dịch này
                    </p>
                </div>
            </div>
            <div class="donate-content mt-4 border-top pt-4" id="comments">
                <h3 class="mb-3">Bình luận</h3>
                <div class="k-comments">
                    <div class="" data-href="#" data-numposts="10"
                        data-width="100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>