<div class="container">
    <div class="blog-header text-center">
        <div class="container">
            <h1 class = "content-h1">Minh bạch quyên góp, dễ dàng ủng hộ</h1>
            <h2 class = "content-h2">VDF giúp các cá nhân và tổ chức tự tạo một trang web gây quỹ
                cộng đồng chuyên nghiệp.</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="row"></div>
        </div>
        <div id="sidebar" class="col-md-4">
            <div class="sidebar-content">
                <h5>Thể loại</h5>
                <div class="tags">
                    <ul class="list-unstyled">
                        <a href="#">
                            <li class="item-category">Từ thiện</li>
                        </a>
                        <a href="#">
                            <li class="item-category">Trẻ em</li>
                        </a>
                        <a href="#">
                            <li class="item-category">Khó khăn</li>
                        </a>
                        <a href="#">
                            <li class="item-category">Khuyết tật</li>
                        </a>
                        <a href="#">
                            <li class="item-category">Giáo dục</li>
                        </a>
                        <a href="#">
                            <li class="item-category">Khác</li>
                        </a>
                    </ul>
                </div>
            </div>

            <div class="sidebar-content">
                <h5>Tag phổ biến</h5>
                
            </div>
        </div>
    </div>
</div>
