<section id="top-hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 d-flex">
                <div class="align-self-center">
                    <h1>
                        Minh bạch quyên góp <br> Dễ dàng ủng hộ
                    </h1>
                    <p class="text-secondary my-4 pr-4 text-intro">
                        VDF là một nền tảng gây quỹ cộng đồng - nơi mọi cá nhân, tổ chức đều có thể tự tạo một
                        trang web gây quỹ nhanh chóng và chuyên nghiệp...
                        <a href="#">Tìm hiểu</a>
                    </p>
                    <div class="take-action-buttons mb-3">
                        <a routerLink = "/create-campaign" class="btn btn-danger btn-lg">Tạo chiến dịch</a>
                        <a href="" class="btn btn-primary btn-lg">Các chiến dịch</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 offset-lg-1">
                <article class="embed-responsive embed-responsive-16by9">
                    <img class="embed-responsive-item rounded" src="../../assets/cover.jpg" alt="cover img"/>
                </article>
            </div>
        </div>
    </div>
</section>