<section id="category" class="py-5">
    <div class="container">
        <ul class="list-unstyled d-flex justify-content-between list-categories">
            <li>
                <a href="#" class="btn btn-default btn-lg">
                    <img src="../../assets/tu-thien.svg" alt="kindmate-icon" class="mr-2" width="28">
                    Từ thiện
                </a>
            </li>
            <li>
                <a href="#" class="btn btn-default btn-lg">
                    <img src="../../assets/tre-em.svg" alt="kindmate-icon" class="mr-2" width="28">
                    Trẻ em
                </a>
            </li>
            <li>
                <a href="#" class="btn btn-default btn-lg">
                    <img src="../../assets/hoan-canh.svg" alt="kindmate-icon" class="mr-2" width="28">
                    Khó khăn
                </a>
            </li>
            <li>
                <a href="#" class="btn btn-default btn-lg">
                    <img src="../../assets/khuyet-tat.svg" alt="kindmate-icon" class="mr-2" width="28">
                    Khuyết tật
                </a>
            </li>
            <li>
                <a href="#" class="btn btn-default btn-lg">
                    <img src="../../assets/giao-duc.svg" alt="kindmate-icon" class="mr-2" width="28">
                    Giáo dục
                </a>
            </li>
            <li>
                <a href="#" class="btn btn-default btn-lg">
                    <img src="../../assets/ung-ho.svg" alt="kindmate-icon" class="mr-2" width="28">
                    Khác
                </a>
            </li>
        </ul>
    </div>
</section>
