<div>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" routerlink="/">
                <img src="../../assets/vdflogo.png" alt="VDF" width="60"
                    height="30" class="d-inline-block align-top" alt="VDF"
                    loading="lazy">
            </a>
            <a class="navbar-nav mr-auto"routerLink="/">Quay về trang chủ</a>
            <button class="btn btn-outline-success" type="submit">Đăng Xuất</button>
        </div>
    </nav>
</div>

